{% extends 'base.html' %}

{% block content %}
    <h2>请假管理</h2>
    {% if leave_list %}

        {% for leave in leave_list %}
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="panel-title pull-left">{{ leave.postgraduate.name }}</div>
                    <div class="pull-right">
                        提交时间：<span class="label label-info">{{ leave.time_of_submission }}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div style="margin-bottom: 5px">
                        请假日期：<span class="label label-info">{{ leave.date }}</span>
                    </div>
                    <div>
                        请假理由：{{ leave.excuse }}
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    {% if leave.state is None %}
                        <div class="pull-right">
                            <form action="{% url 'processes_leave' leave.id %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="result" hidden>
                                <input type="button" class="btn btn-sm btn-success" value="批准">
                                <input type="button" class="btn btn-sm btn-danger" value="拒绝">
                            </form>
                        </div>
                    {% else %}
                        {% if leave.state %}
                            <span class="label label-success" role="alert">已批准</span>
                        {% else %}
                            <span class="label label-danger" role="alert">已回拒</span>
                        {% endif %}
                        <div class="pull-right">处理时间：{{ leave.time_of_processing }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="pull-right">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if items.has_previous %}
                        <li>
                            <a href="{% url 'leave_list_t' %}?page={{ leave_list.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                        <span>
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                        </li>
                    {% endif %}
                    {% for i in range %}
                        {% if page == i %}
                            <li class="active"><a href="{% url 'leave_list_t' %}?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="{% url 'leave_list_t' %}?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <li>
                            <a href="{% url 'leave_list_t' %}?page={{ leave_list.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                        <span>
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <p>目前无未处理的请假</p>
    {% endif %}
{% endblock %}

{% block extrascript %}
    <script>
        $(document).ready(function () {
            $("input:button").click(function () {
                var form = $(this).parent("form");
                var result = form.find("input[name='result']");
                if ($(this).val() === '批准') {
                    result.val('approve');
                } else {
                    result.val('reject');
                }
                form.submit();
            });
        })
    </script>
{% endblock %}