{% extends 'base.html' %}

{% block content %}
    <h2>查看小结</h2>
    {% if brief_list %}
        {% for brief in brief_list %}
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="panel-title pull-left">{{ brief.submitter.name }}</div>
                    <div class="pull-right">
                    <span class="label label-info">
                        {{ brief.date }}
                    </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="summary">
                        {{ brief.content|truncatechars:"100" }}
                    </div>
                    <div class="details">
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-left status">
                        {% if brief.have_read %}
                            <span class="label label-success" role="alert">已阅</span>
                        {% else %}
                            <span class="label label-warning" role="alert">未查看</span>
                        {% endif %}
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default view" value="{% url 'brief_review_t' brief.id %}">
                            查看
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pull-right">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if items.has_previous %}
                        <li>
                            <a href="{% url 'brief_list_t' %}?page={{ brief_list.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                        <span>
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                        </li>
                    {% endif %}
                    {% for i in range %}
                        {% if page == i %}
                            <li class="active"><a href="{% url 'brief_list_t' %}?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="{% url 'brief_list_t' %}?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <li>
                            <a href="{% url 'brief_list_t' %}?page={{ brief_list.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                        <span>
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <p>目前未提交任何小结</p>
    {% endif %}
{% endblock %}

{% block extrascript %}
    <script>
        $(".view").click(function () {
            var btn = $(this);
            var url = btn.attr("value");
            var panel = btn.closest(".panel");
            var summary = panel.find(".summary");
            var details = panel.find(".details");
            var status = panel.find(".status");
            if (btn.html().trim() === '查看') {
                $.get(
                    url,
                    function (response) {
                        summary.hide();
                        details.html(response);
                        details.show();
                        status.html('<span class="label label-success" role="alert">已阅</span>');
                        btn.html('收起');
                    }
                )
            } else {
                details.hide();
                summary.show();
                btn.html('查看');
            }

        })
    </script>
{% endblock %}