{% extends 'base.html' %}

{% block content %}
    <h2>提交小结</h2>
    <form class="form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <div class="form-group">
            {{ form.file.label_tag }}
            {{ form.file }}
        </div>
        <div class="pull-right">
            <input class="btn btn-success" type="submit" name="save" value="仅保存">
            <input class="btn btn-primary" type="submit" name="commit" value="保存并提交">
        </div>
    </form>
{% endblock %}