{% extends 'base.html' %}

{% block content %}
    <h2>我的小结</h2>
    {% for brief in brief_list %}
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-title pull-left">{{ brief.date }}</div>
                <div class="pull-right">
                    <button class="btn btn-default" onclick="window.location.href='{% url 'brief_edit' brief.id %}'">
                        编辑
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="summary">
                    {{ brief.content|truncatechars:"100" }}
                </div>
                <div class="details">
                </div>
            </div>
            <div class="panel-footer clearfix">
                {% if not brief.commit %}
                    <span class="label label-warning" role="alert">未提交</span>
                {% elif brief.have_read %}
                    <span class="label label-success" role="alert">已批阅</span>
                    <div class="pull-right">
                        <button class="btn btn-default view" value="{% url 'brief_review_p' brief.id %}">查看</button>
                    </div>
                {% else %}
                    <span class="label label-info" role="alert">未查看</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if not brief_list %}
        <p>目前未提交任何小结</p>
    {% endif %}
{% endblock %}

{% block extrascript %}
    <script>
        $(".view").click(function () {
            var btn = $(this);
            var url = btn.attr("value");
            var panel = btn.closest(".panel");
            var summary = panel.find(".summary");
            var details = panel.find(".details");
            if (btn.html() === '查看') {
                $.get(
                    url,
                    function (response) {
                        summary.hide();
                        details.html(response);
                        details.show();
                        btn.html('收起');
                    }
                )
            } else {
                details.hide();
                summary.show();
                btn.html('查看');
            }

        })
    </script>
{% endblock %}