{% extends 'base.html' %}

{% block extrahead %}
    {% load staticfiles %}
    <link href="{% static 'bootstrap-table/css/bootstrap-table.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>导入教师</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="btn btn-info" for="file">选择文件</label>
        <input id="file" name="excel" type="file" style="display: none">
        <span class="showFileName"></span>
        <input class="btn btn-primary" type="submit" value="上传">
    </form>
    <br>
    <p>导入文件参考模板：<a href="{% static 'file/导入教师模板.xlsx' %}">导入教师模板</a></p>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if upload_file %}
        <h3>导入信息预览</h3>
        <table data-toggle="table"
               data-url="{% url 'table_uploaded_teacher_list' %}?upload_file={{ upload_file }}"
               data-pagination="true"
               data-side-pagination="server"
               data-page-list="[10, 20, 50, 100, 200]"
               data-page-size=20
               data-show-refresh="true" data-show-columns="true"
               data-unique-id="postgraduate_id"
        >
            <thead>
            <tr>
                <th data-field="teacher_phone">手机号</th>
                <th data-field="teacher_name">姓名</th>
                <th data-field="teacher_school">学校</th>
                <th data-field="teacher_specialty">专业</th>
            </tr>
            </thead>
        </table>
        <form action="" method="get">
            {% csrf_token %}
            <input type="hidden" name="confirm" value="true">
            <input type="hidden" name="upload_file" value="{{ upload_file }}">
            <input class="btn btn-primary" type="submit" value="确认">
        </form>
    {% endif %}
{% endblock %}

{% block extrascript %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/locales/bootstrap-table-zh-CN.min.js' %}"></script>
    <script>
        $("#file").on("change", function () {
            var filePath = $(this).val();
            if (filePath.indexOf("xlsx") != -1 || filePath.indexOf("xls") != -1) {
                var arr = filePath.split('\\');
                var fileName = arr[arr.length - 1];
                $(".showFileName").html(fileName);
            } else {
                $(".showFileName").html("您未上传文件，或者您上传文件类型有误！");
                return false
            }
        })
    </script>
{% endblock %}