{% extends 'base.html' %}

{% block extrahead %}
    {% load staticfiles %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}

{% block content-fluid %}
    <form class="form-login" action="{{ url }}" method="post">
        <h2 class="form-login-heading">请{{ user_type }}登录系统</h2>
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    </form>
{% endblock %}

{% block navigation_bar %}
{% endblock %}