{% extends 'base.html' %}

{% block extrahead %}
    {% load staticfiles %}
    <link href="{% static 'bootstrap-table/css/bootstrap-table.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>组教师列表</h2>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <table id="table"></table>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/locales/bootstrap-table-zh-CN.min.js' %}"></script>
    <script>
        function operateFormatter(value, row, index) {
            if (row.member_uuid !== '{{ teacher.uuid }}') {
                return [
                    '<button type="button" class="RoleOfDelete btn btn-danger btn-sm">移除组</button>'
                ].join('');
            } else {
                return '组长'
            }
        }

        window.operateEvents = {
            'click .RoleOfDelete': function (e, value, row, index) {
                $.post(
                    "{% url 'g_remove' %}",
                    {'uuid': row.member_uuid},
                    function (response) {
                        console.log(response);
                        if (response.result)
                            window.location.reload();
                    }
                )
            }
        };
        $('#table').bootstrapTable({
            url: "{% url 'g_members' %}?table=true",
            pagination: true,
            sidePagination: "server",
            pageList: [10, 20, 50, 100, 200],
            pageSize: 20,
            search: true,
            showRefresh: true,
            showColumns: true,
            uniqueId: 'member_phone',
            columns: [{
                field: 'member_phone',
                title: '手机好',
                sortable: true
            }, {
                field: 'member_name',
                title: '姓名',
                sortable: true
            }, {
                field: 'member_school',
                title: '学校',
                sortable: true
            }, {
                field: 'member_specialty',
                title: '专业',
                sortable: true
            }, {
                field: 'operate',
                title: '操作',
                events: operateEvents,
                formatter: operateFormatter
            }]
        });
        $("input[placeholder='搜索']").attr('placeholder', '搜索（手机号、姓名）') // 修改搜索提示
    </script>
{% endblock %}

