{% extends 'base.html' %}

{% block content-fluid %}
    <h2>签到</h2>
    <img src="" id="qr_code">
{% endblock %}

{% block extrascript %}
    <script>
        var cpu_id = "";

        function getQR() {
            var xhr = new XMLHttpRequest();
            var url = "{% url 'check_in' %}";
            var params = "cpu_id=".concat(cpu_id);
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.responseType = "blob";
            xhr.onload = function () {
                var objectURL = URL.createObjectURL(this.response);
                var img = document.getElementById("qr_code");
                img.src = objectURL;
                img.height = 400;
                img.onload = function (ev) {
                    window.URL.revokeObjectURL(this.src);
                };
            };
            xhr.send(params);
        }

        function getCpuId() {
            try {
                var locator = new ActiveXObject("WbemScripting.SWbemLocator");
                var service = locator.ConnectServer(".");
                var cpu = new Enumerator(service.ExecQuery("SELECT * FROM Win32_Processor")).item();
            } catch (e) {
                return null
            }
            return cpu.ProcessorID;
        }

        window.onload = function () {
            cpu_id = getCpuId();
            setInterval(getQR, 1000);
        }
    </script>
{% endblock %}