{% extends 'base.html' %}

{% block content %}
    <h2>签到项目</h2>
    <div class="panel panel-default">
        <div class="panel-heading"><b>日常签到</b></div>
        <div class="panel-body">
            {% if daily_setting %}
                <h4>日期范围：</h4>
                <span class="label label-info">{{ daily_setting.start_date }}</span> -
                <span class="label label-info">{{ daily_setting.end_date }}</span>
                <h4>星期：</h4>
                {% for option in week_option %}
                    <span class="label label-info">{{ option }}</span>
                {% endfor %}
                <h4>签到时间区间：</h4>
                <input type="text" value="{{ daily_setting.times }}" style="display: none">
                <div class="t1" style="margin-bottom: 5px">
                    <span class="label label-info">{{ daily_setting.time1_start }}</span> - <span
                        class="label label-info">{{ daily_setting.time1_end }}</span>
                </div>
                <div class="t2" style="margin-bottom: 5px">
                    <span class="label label-info">{{ daily_setting.time2_start }}</span> - <span
                        class="label label-info">{{ daily_setting.time2_end }}</span>
                </div>
                <div class="t3" style="margin-bottom: 5px">
                    <span class="label label-info">{{ daily_setting.time3_start }}</span> - <span
                        class="label label-info">{{ daily_setting.time3_end }}</span>
                </div>
                <div class="t4">
                    <span class="label label-info">{{ daily_setting.time4_start }}</span> - <span
                        class="label label-info">{{ daily_setting.time4_end }}</span>
                </div>
                <h4>签到条件：</h4>
                {% if daily_setting.computer %}
                    指定计算机：{{ daily_setting.computer.name }}
                {% else %}
                    <span class="label label-default">未指定</span>
                {% endif %}
            {% else %}
                <p>暂未设置日常签到</p>
            {% endif %}
        </div>
    </div>
    {% if items %}
        {% for item in items %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>临时签到 - {{ item.name }}</b>
                    {% if item.is_group %}
                        <div class="pull-right">
                            <span class="label label-info">组签到</span>
                        </div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <h4>教师：</h4>
                    <span class="label label-info">{{ item.teacher.name }}</span>
                    <h4>时间：</h4>
                    <span class="label label-info">{{ item.date }} {{ item.time }}</span>
                    <h4>签到区间：</h4>
                    <span class="label label-info">{{ item.start_time }}</span> - <span
                        class="label label-info">{{ item.end_time }}</span>
                    <h4>签到条件：</h4>
                    {% if item.computer %}
                        指定计算机：{{ item.computer.name }}
                    {% else %}
                        <span class="label label-default">未指定</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="pull-right">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if items.has_previous %}
                        <li>
                            <a href="{% url 'check_in_my_items' %}?page={{ items.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                        <span>
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                        </li>
                    {% endif %}
                    {% for i in range %}
                        {% if page == i %}
                            <li class="active"><a href="{% url 'check_in_my_items' %}?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="{% url 'check_in_my_items' %}?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <li>
                            <a href="{% url 'check_in_my_items' %}?page={{ items.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                        <span>
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>临时签到</b></div>
            <div class="panel-body">
                <p>暂无临时签到</p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extrascript %}
    <!-- this page specific script -->
    <script type="text/javascript">
        var times = $('input').val() * 1;
        for (var i = 1; i <= 4; i++) {
            if (i > times) {
                $('.t' + i).hide();
            } else {
                $('.t' + i).show();
            }
        }
    </script>
{% endblock %}