{% extends 'base.html' %}

{% block extrahead %}
    {% load static %}
    <!-- amCharts stylesheet -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <!-- DatetimePicker stylesheet -->
    <link rel="stylesheet" href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
    <!-- this page specific stylesheet -->
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
{% endblock %}

{% block content %}
    <form class="form-inline">
        <div class="input-group date form_date" data-date="">
            <input class="form-control" id="date" type="text">
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <button class="btn" id="query" type="button">查询</button>
        <button class="btn" id="today" type="button">今天</button>
    </form>
    <div id="chartdiv"></div>

{% endblock %}

{% block extrascript %}
    <!-- amCharts script -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/gantt.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <!-- moment script -->
    <script src="{% static 'js/moment-with-locales.js' %}"></script>
    <!-- DatetimePicker script -->
    <script type="text/javascript"
            src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <!-- this page specific script -->
    <script>
        // amCharts 配置
        var config = {
            "type": "gantt",
            "theme": "light",
            "marginRight": 70,
            "period": "hh",
            "dataDateFormat": "YYYY-MM-DD",
            "balloonDateFormat": "JJ:NN",
            "columnWidth": 0.5,
            "valueAxis": {
                "type": "date",
                "minimumDate": "",
                "maximumDate": ""
            },
            "guides": [],
            "brightnessStep": 10,
            "graph": {
                "fillAlphas": 1,
                "balloonFunction": function (graphDataItem, graph) {
                    var item = graph.segmentData;
                    var start = moment(item.start).format("H:mm");
                    var end = item.end_raw;
                    if (!end) {
                        end = "未签到";
                        return start + " - " + end;
                    } else {
                        end = moment(end).format("H:mm");
                        duration = moment.duration(end).subtract(moment.duration(start));
                        return start + " - " + end + "[" + duration.hours() + ":" + duration.minutes() + "]";
                    }
                }
            },
            "rotate": true,
            "categoryField": "category",
            "segmentsField": "segments",
            "colorField": "color",
            "startDate": "",  //需要设置
            "startDateField": "start",
            "endDateField": "end",
            "durationField": "duration",
            "dataProvider": [],  // 传递数据
            "valueScrollbar": {
                "autoGridCount": true
            },
            "chartCursor": {
                "cursorColor": "#55bb76",
                "valueBalloonsEnabled": false,
                "cursorAlpha": 0.1,
                "valueLineAlpha": 0.5,
                "valueLineBalloonEnabled": true,
                "valueLineEnabled": true,
                "zoomable": false,
                "valueZoomable": true,
                "fullWidth": true
            },
            "export": {
                "enabled": false
            }
        };

        // 签到有效区域设置
        function guide(v, tv, name) {
            return {
                "value": new Date(v),
                "toValue": new Date(tv),
                "lineAlpha": 0.2,
                "lineColor": "#00cc00",
                "lineThickness": 3,
                "fillAlpha": 0.1,
                "fillColor": "#00cc00",
                "label": name,
                "inside": false
            }
        }

        function setChartData() {
            $.getJSON("{% url 'show_check_in' %}?date=today", function (result) {
                config.startDate = result.startDate;
                var times = result.times;
                // 根据设置确定边界
                config.valueAxis.minimumDate = moment(result.time1_start).startOf('hour');
                config.valueAxis.maximumDate = moment(result["time" + times + "_end"]).add(1, 'hours').startOf('hour');
                // 显示允许签到的时间段
                config.guides.push(guide(result.time1_start, result.time1_end, "时段1-开始"));
                if (times > 1) {
                    config.guides.push(guide(result.time2_start, result.time2_end, "时段1-结束"));
                }
                if (times > 2) {
                    config.guides.push(guide(result.time3_start, result.time3_end, "时段2-开始"));
                    config.guides.push(guide(result.time4_start, result.time4_end, "时段2-结束"));
                }
                // 遍历显示
                $.each(result.data, function (i, data) {
                    var check2 = data.check2;
                    var check4 = data.check4;
                    if (!check2) {
                        check2 = result.time2_start;
                    }
                    if (!check4) {
                        check4 = result.time4_start;
                    }
                    if (data.check3) {
                        config.dataProvider.push({
                            "category": data.name,
                            "segments": [{
                                "start": new Date(data.check1),
                                "end": new Date(check2),
                                "end_raw": data.check2,
                                "color": "#46615e",
                                "task": "时段一"
                            }, {
                                "start": new Date(data.check3),
                                "end": new Date(check4),
                                "end_raw": data.check4,
                                "color": "#727d6f",
                                "task": "时段二"
                            }]
                        });
                    } else {
                        config.dataProvider.push({
                            "category": data.name,
                            "segments": [{
                                "start": new Date(data.check1),
                                "end": new Date(check2),
                                "end_raw": data.check2,
                                "color": "#46615e",
                                "task": "时段一"
                            }]
                        });
                    }
                });
                var chart = AmCharts.makeChart("chartdiv", config);
            });
        }

        var dp = $('.form_date');
        dp.datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            weekStart: 1,
            autoclose: true,
            todayBtn: true,
            todayHighlight: true,
            startView: 2,
            minView: 2
        });
        dp.datetimepicker("setDate", new Date());

        $(".btn").on("click", function () {
            if ($(this).attr("id") === "query") {
                var date = $("#date").val();
                console.log(date);
            }
        });

        $(document).ready(function () {
            setChartData();
        });
    </script>
{% endblock %}