{% extends 'base.html' %}

{% block content %}
    <h2>临时签到列表</h2>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if items %}
        {% for item in items %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ item.name }}</b>
                    <span class="label label-info">{{ item.teacher.name }}</span>
                    {% if item.is_group %}
                        <span class="label label-primary">组签到</span>
                    {% endif %}
                    <div class="pull-right">
                        <span class="label label-warning">{{ item.date }} {{ item.time }}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div style="margin-bottom: 5px">
                        <span>签到区间：</span>
                        <span class="label label-success">{{ item.start_time }}</span> - <span
                            class="label label-danger">{{ item.end_time }}</span>
                    </div>
                    <div>
                        <span>签到条件：</span>
                        {% if item.computer.all %}
                            <span>指定计算机</span>
                            {% for computer in item.computer.all %}
                                <span class="label label-info">{{ computer.name }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="label label-default">未指定</span>
                        {% endif %}
                    </div>
                </div>
                {% if item.teacher == teacher %}
                    <div class="panel-footer clearfix">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-danger"
                                    onclick="window.location.href='{% url 'check_in_temp_delete' item.id %}'">删除
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="pull-right">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if items.has_previous %}
                        <li>
                            <a href="{% url 'check_in_temp_list' %}?page={{ items.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                        <span>
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                        </li>
                    {% endif %}
                    {% for i in range %}
                        {% if page == i %}
                            <li class="active"><a href="{% url 'check_in_temp_list' %}?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="{% url 'check_in_temp_list' %}?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <li>
                            <a href="{% url 'check_in_temp_list' %}?page={{ items.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                        <span>
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <p>暂无临时签到</p>
    {% endif %}
{% endblock %}