<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>研究生科研管理系统</title>

    <!-- bootstrap -->
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- global styles -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    {% block extrahead %}{% endblock %}
</head>
<body class="bg">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="Brand" style="max-width:200px;margin-top:-7px;" src="{% static 'img/logo.png' %}"/>
        </a>
        <ul class="nav navbar-nav navbar-left">
            <li role="presentation"><a href="{% url 'check_in' %}">签到</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if teacher != None %}
                <li><p class="navbar-text">{{ teacher.username }} 已登陆</p></li>
                <li>
                    <form action="{% url 'logout' %}">
                        <button type="submit" class="btn btn-default navbar-btn">登出</button>
                    </form>
                </li>
            {% elif postgraduate != None %}
                <li><p class="navbar-text">{{ postgraduate.name }} 已登陆</p></li>
                <li>
                    <form action="{% url 'logout' %}">
                        <button type="submit" class="btn btn-default navbar-btn">登出</button>
                    </form>
                </li>
            {% else %}
                <li>
                    <form action="{% url 'home' %}">
                        <button type="submit" class="btn btn-default navbar-btn">登陆</button>
                    </form>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block container %}
    <div class="container bg-container">
        <div class="row">
            <div class="col-xs-12 col-md-12">{% block content-fluid %}{% endblock %}</div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-2">
                {% block navigation_bar %}
                    {% include 'navigation_bar.html' %}
                {% endblock %}
            </div>
            <div class="col-xs-9 col-md-10">{% block content %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}

<!-- scripts -->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/add_active_navigation_class.js' %}"></script>
{% block extrascript %}{% endblock %}

</body>
</html>