<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base.css' %}" rel="stylesheet">
    {% block extrahead %}{% endblock %}
    <title>研究生科研管理系统</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">研究生科研管理系统</a>
        <ul class="nav navbar-nav navbar-right">
            {% if teacher != None %}
                <li><p class="navbar-text">{{ teacher.username }} 已登陆</p></li>
                <li>
                    <form action="{% url 'logout' %}">
                        <button type="submit" class="btn btn-default navbar-btn">登出</button>
                    </form>
                </li>
            {% elif postgraduate != None %}
                <li><p class="navbar-text">{{ postgraduate.id }} 已登陆</p></li>
                <li>
                    <form action="{% url 'logout' %}">
                        <button type="submit" class="btn btn-default navbar-btn">登出</button>
                    </form>
                </li>
            {% else %}
                <li>
                    <form action="{% url 'home' %}">
                        <button type="submit" class="btn btn-default navbar-btn">登陆</button>
                    </form>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">{% block content-fluid %}{% endblock %}</div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-md-2">
            {% block navigation_bar %}
                {% include 'navigation_bar.html' %}
            {% endblock %}
        </div>
        <div class="col-xs-9 col-md-10">{% block content %}{% endblock %}</div>
    </div>
</div>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="{% static 'add_active_navigation_class.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block extrascript %}{% endblock %}
</body>
</html>