{% extends 'base.html' %}

{% block navigation_bar %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="{% url 'teacher_home' %}">首页</a></li>
        <li role="presentation"><a href="{% url 'postgraduate_list' %}">研究生列表</a></li>
        <li role="presentation"><a href="{% url 'import_postgraduate_list' %}">导入</a></li>
        <li role="presentation"><a href="{% url 'check_in' %}">签到调试</a></li>
        <li role="presentation"><a href="{% url 'show_check_in' %}">签到情况</a></li>
        <li role="presentation" class="active"><a href="{% url 'leave_list' %}">请假管理</a></li>
        <li role="presentation"><a href="">查看小结</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% for leave in leave_set %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ leave.postgraduate.name }}</div>
            <div class="panel-body">
                提交时间：{{ leave.time_of_submission }}<br>
                请假日期：{{ leave.date }}<br>
                请假理由：{{ leave.excuse }}
            </div>
            <div class="panel-footer">
                {% if leave.state is None %}
                    <button>批准</button>
                    <button>拒绝</button>
                {% else %}
                    状态：
                    {% if leave.state %}
                        批准
                    {% else %}
                        拒绝
                    {% endif %}
                    处理时间：{{ leave.time_of_processing }}
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}