<aside class="sidebar">
    <div id="leftside-navigation">
        {% load nav_tag %}
        {% if teacher %}
            <ul>
                <li class="{% nav_class 'teacher_home' %}">
                    <a href="{% url 'teacher_home' %}">首页</a>
                </li>
                {% if teacher.is_leader %}
                    <li class="sub-menu {% nav_class 'g_members' 'g_invite' 'group_file_list' 'group_file_upload' %}">
                        <a href="javascript:void(0);">课题组管理<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                        <ul>
                            <li class="{% nav_class 'g_members' %}">
                                <a href="{% url 'g_members' %}">组教师列表</a>
                            </li>
                            <li class="{% nav_class 'g_invite' %}">
                                <a href="{% url 'g_invite' %}">邀请教师</a>
                            </li>
                            <li class="{% nav_class 'group_file_list' %}">
                                <a href="{% url 'group_file_list' %}">文件列表</a>
                            </li>
                            <li class="{% nav_class 'group_file_upload' %}">
                                <a href="{% url 'group_file_upload' %}">文件上传</a>
                            </li>
                        </ul>
                    </li>
                {% elif teacher.group %}
                    <li class="sub-menu {% nav_class 'group_file_list' 'group_file_upload' %}">
                        <a href="javascript:void(0);">课题组功能<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                        <ul>
                            <li class="{% nav_class 'group_file_list' %}">
                                <a href="{% url 'group_file_list' %}">文件列表</a>
                            </li>
                            <li class="{% nav_class 'group_file_upload' %}">
                                <a href="{% url 'group_file_upload' %}">文件上传</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li class="sub-menu {% nav_class 'postgraduate_list' %}">
                    <a href="javascript:void(0);">研究生管理<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                    <ul>
                        <li class="{% nav_class 'postgraduate_list' %}">
                            <a href="{% url 'postgraduate_list' %}">学生列表</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu {% nav_class 'check_in_temp_list' 'check_in_temp_setting' 'check_in_daily_setting' 'computer_list' 'computer_add' %}">
                    <a href="javascript:void(0);">签到设置<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                    <ul>
                        <li class="{% nav_class 'check_in_temp_list' %}">
                            <a href="{% url 'check_in_temp_list' %}">临时签到列表</a>
                        </li>
                        <li class="{% nav_class 'check_in_temp_setting' %}">
                            <a href="{% url 'check_in_temp_setting' %}">添加临时签到</a>
                        </li>
                        <li class="{% nav_class 'check_in_daily_setting' %}">
                            <a href="{% url 'check_in_daily_setting' %}">日常签到设置</a>
                        </li>
                        <li class="{% nav_class 'computer_list' %}">
                            <a href="{% url 'computer_list' %}">计算机列表</a>
                        </li>
                        <li class="{% nav_class 'computer_add' %}">
                            <a href="{% url 'computer_add' %}">添加计算机</a>
                        </li>
                        <li>
                            <a href="#">GPS地点列表</a>
                        </li>
                        <li>
                            <a href="#">添加GPS地点</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu {% nav_class 'show_check_in' %}">
                    <a href="javascript:void(0);">签到报表<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                    <ul>
                        <li class="{% nav_class 'show_check_in' %}">
                            <a href="{% url 'show_check_in' %}">今日情况</a>
                        </li>

                    </ul>
                </li>
                <li class="sub-menu {% nav_class 'import_teacher' 'import_postgraduate_list' %}">
                    <a href="javascript:void(0);">导入数据<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                    <ul>
                        {% if teacher.is_leader %}
                            <li class="{% nav_class 'import_teacher' %}">
                                <a href="{% url 'import_teacher' %}">导入教师</a>
                            </li>
                        {% endif %}
                        <li class="{% nav_class 'import_postgraduate_list' %}">
                            <a href="{% url 'import_postgraduate_list' %}">导入学生</a>
                        </li>
                    </ul>
                </li>
                <li class="{% nav_class 'leave_list' %}">
                    <a href="{% url 'leave_list' %}">请假管理</a>
                </li>
                <li class="{% nav_class 'brief_list_t' %}">
                    <a href="{% url 'brief_list_t' %}">查看小结</a>
                </li>
            </ul>
        {% elif postgraduate %}
            <ul>
                <li class="{% nav_class 'postgraduate_home' %}">
                    <a href="{% url 'postgraduate_home' %}">首页</a>
                </li>
                <li class="sub-menu {% nav_class 'brief_list_p' 'brief_new' %}">
                    <a href="javascript:void(0);">小结管理<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                    <ul>
                        <li class="{% nav_class 'brief_list_p' %}">
                            <a href="{% url 'brief_list_p' %}">我的小结</a>
                        </li>
                        <li class="{% nav_class 'brief_new' %}">
                            <a href="{% url 'brief_new' %}">提交小结</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu {% nav_class 'check_in_my_items' %}">
                    <a href="javascript:void(0);">我的签到<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                    <ul>
                        <li class="{% nav_class 'check_in_my_items' %}">
                            <a href="{% url 'check_in_my_items' %}">签到项目</a>
                        </li>
                        <li>
                            <a href="#">签到情况</a>
                        </li>
                    </ul>
                </li>
                {% if postgraduate.teacher.group %}
                    <li class="{% nav_class 'group_file_list' %}">
                        <a href="{% url 'group_file_list' %}">查看组文件</a>
                    </li>
                {% endif %}
                <li class="{% nav_class 'ask_for_leave' %}">
                    <a href="{% url 'ask_for_leave' %}">请假申请</a>
                </li>
            </ul>
        {% endif %}
    </div>
</aside>
