<aside class="sidebar">
    <div id="leftside-navigation">
        {% if request.path|slice:'8' == '/teacher' %}
            <ul>
                <li><a href="{% url 'teacher_home' %}">首页</a></li>
                {% if teacher.is_leader %}
                    <li class="sub-menu">
                        <a href="javascript:void(0);">课题组管理<i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>
                            <li><a href="{% url 'manage_group_teacher' %}">小组教师管理</a></li>
                            <li><a href="#">组教师列表</a></li>
                            <li><a href="#">邀请教师</a></li>
                            <li><a href="{% url 'group_file_list' %}">文件列表</a></li>
                            <li><a href="{% url 'group_file_upload' %}">文件上传</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="sub-menu">
                        <a href="javascript:void(0);">课题组功能<i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>
                            <li><a href="{% url 'group_file_list' %}">文件列表</a></li>
                            <li><a href="{% url 'group_file_upload' %}">文件上传</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="sub-menu">
                    <a href="javascript:void(0);">研究生管理<i class="arrow fa fa-angle-right pull-right"></i></a>
                    <ul>
                        <li><a href="{% url 'postgraduate_list' %}">学生列表</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);">签到管理<i class="arrow fa fa-angle-right pull-right"></i></a>
                    <ul>
                        <li><a href="{% url 'show_check_in' %}">签到情况</a></li>
                        <li><a href="{% url 'check_in_temp_list' %}">临时签到列表</a></li>
                        <li><a href="{% url 'check_in_temp_setting' %}">添加临时签到</a></li>
                        <li><a href="{% url 'check_in_daily_setting' %}">日常签到设置</a></li>
                        <li><a href="{% url 'computer_list' %}">计算机列表</a></li>
                        <li><a href="{% url 'computer_add' %}">添加计算机</a></li>
                        <li><a href="#">GPS地点列表</a></li>
                        <li><a href="#">添加GPS地点</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);">导入数据<i class="arrow fa fa-angle-right pull-right"></i></a>
                    <ul>
                        {% if teacher.is_leader %}
                            <li><a href="{% url 'import_teacher' %}">导入教师</a></li>
                        {% endif %}
                        <li><a href="{% url 'import_postgraduate_list' %}">导入学生</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'leave_list' %}">请假管理</a></li>
                <li><a href="{% url 'brief_list_t' %}">查看小结</a></li>
            </ul>
        {% elif request.path|slice:'13' == '/postgraduate' %}
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'postgraduate_home' %}">首页</a></li>
                <li><a href="{% url 'group_file_list' %}">组文件</a></li>
                <li><a href="{% url 'ask_for_leave' %}">请假申请</a></li>
                <li><a href="{% url 'brief_list_p' %}">小结列表</a></li>
                <li><a href="{% url 'brief_new' %}">提交小结</a></li>
                <li><a href="#">签到列表</a></li>
                <li><a href="#">签到情况</a></li>
            </ul>
        {% endif %}
    </div>
</aside>
