{% if request.path|slice:'8' == '/teacher' %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="{% url 'teacher_home' %}">首页</a></li>
        {% if teacher.is_leader %}
            <li role="presentation"><a href="{% url 'manage_group_teacher' %}">小组教师管理</a></li>
            <li role="presentation"><a href="{% url 'import_teacher' %}">导入教师</a></li>
        {% endif %}
        <li role="presentation"><a href="{% url 'leave_list' %}">请假管理</a></li>
        <li role="presentation"><a href="{% url 'group_file_list' %}">课题组文件列表</a></li>
        <li role="presentation"><a href="{% url 'group_file_upload' %}">课题组文件上传</a></li>
        <li role="presentation"><a href="{% url 'postgraduate_list' %}">研究生列表</a></li>
        <li role="presentation"><a href="{% url 'import_postgraduate_list' %}">导入学生</a></li>
        <li role="presentation"><a href="{% url 'show_check_in' %}">签到情况</a></li>
        <li role="presentation"><a href="{% url 'brief_list_t' %}">查看小结</a></li>
        <li role="presentation"><a href="{% url 'computer_list' %}">计算机管理</a></li>
        <li role="presentation"><a href="{% url 'computer_add' %}">添加计算机</a></li>
    </ul>
{% elif request.path|slice:'13' == '/postgraduate' %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="{% url 'postgraduate_home' %}">首页</a></li>
        <li role="presentation"><a href="{% url 'ask_for_leave' %}">请假申请</a></li>
        <li role="presentation"><a href="{% url 'brief_list_p' %}">小结列表</a></li>
        <li role="presentation"><a href="{% url 'brief_new' %}">提交小结</a></li>
    </ul>
{% endif %}