{% extends 'base.html' %}

{% block extrahead %}
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/gantt.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/chart.css">
{% endblock %}

{% block navigation_bar %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="{% url 'teacher_home' %}">首页</a></li>
        <li role="presentation"><a href="{% url 'postgraduate_list' %}">研究生列表</a></li>
        <li role="presentation"><a href="{% url 'import_postgraduate_list' %}">导入</a></li>
        <li role="presentation"><a href="{% url 'check_in' %}">签到调试</a></li>
        <li role="presentation" class="active"><a href="{% url 'show_check_in' %}">签到情况</a></li>
        <li role="presentation"><a href="{% url 'leave_list' %}">请假管理</a></li>
        <li role="presentation"><a href="">查看小结</a></li>
    </ul>
{% endblock %}

{% block content %}
    <button>今天</button>
    <div id="chartdiv"></div>
{% endblock %}

{% block extrascript %}
    <script>
        config = {
            "type": "gantt",
            "theme": "light",
            "marginRight": 70,
            "period": "hh",
            "dataDateFormat": "YYYY-MM-DD",
            "balloonDateFormat": "JJ:NN",
            "columnWidth": 0.5,
            "valueAxis": {
                "type": "date"
            },
            "brightnessStep": 10,
            "graph": {
                "fillAlphas": 1,
                "balloonText": "<b>[[task]]</b>: [[open]] [[value]]"
            },
            "rotate": true,
            "categoryField": "category",
            "segmentsField": "segments",
            "colorField": "color",
            "startDate": "",  //需要设置
            "startField": "start",
            "endField": "end",
            "durationField": "duration",
            "dataProvider": [],  // 传递数据
            "valueScrollbar": {
                "autoGridCount": true
            },
            "chartCursor": {
                "cursorColor": "#55bb76",
                "valueBalloonsEnabled": false,
                "cursorAlpha": 0,
                "valueLineAlpha": 0.5,
                "valueLineBalloonEnabled": true,
                "valueLineEnabled": true,
                "zoomable": false,
                "valueZoomable": true
            },
            "export": {
                "enabled": false
            }
        };

        function setChartData() {
            $.getJSON("{% url 'show_check_in' %}?date=today", function (data) {
                console.log(data);
                config.startDate = data.startDate;
                config.dataProvider = data.data;
                var chart = AmCharts.makeChart("chartdiv", config);
            });
        }

        $(document).ready(function () {
            setChartData();
        });
    </script>
{% endblock %}